# Ignore vi swap files, MacOS extra files, etc.
*.swp
.DS_Store

# Ignore utility shortcuts that build and run
g
m
mg

# Skip build directories
**/build/
/OutlawEditor/target/
/Platform/Apple/tools/*/nbproject/private/
/Platform/Apple/tools/*/dist/

# Don't check in data specific to any particular game
/Platform/Apple/virtual/data/images/*.bin
/Platform/Apple/virtual/data/fonts/*.bin
/Platform/Apple/virtual/data/world/*.xml

# Only check in sample.build.props; each person's build.props will be different.
/Platform/Apple/virtual/src/include/build.props
/Platform/Apple/tools/A2Copy/build/
/Platform/Apple/tools/PackPartitions/build/

# Ignore object and asm files produced by PLASMA
*.o
*.a
/Platform/Apple/tools/PLASMA/src/plasm
/Platform/Apple/tools/PLASMA/src/plvm
/Platform/Apple/tools/PLASMA/src/PLVM02.SYSTEM.sys
/Platform/Apple/tools/PLASMA/src/*#*

# Packer sometimes produces an error text file.
error_stack.txt
